.datetime-picker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.datetime-picker-container span {
    font-size: 24px;
    font-family: 'arnamu';
}
.custom-datepicker {
    font-size: 20px;
    padding: 8.7px;
    width: 180px;
    border: 3px solid #f7a918;
    border-radius: 4px;
    color: var(--tg-theme-text-color);
    background-color: transparent;
    font-family: 'PostalShrift';
}
.react-datepicker-popper {
    z-index: 1;
}
.react-datepicker {
    font-family: 'arnamu';
}
.react-datepicker__day--selected {
    background-color: #28921a;
    /* Цвет фона выбранного дня */
    color: #fff;
    /* Цвет текста для выбранного дня */
}
  