.modal-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: grid;

    animation: fade-in2 0.2s ease-in-out;
}

@keyframes fade-in2 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.modal-content-list {
    font-size: 16px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.modal-buttons-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.modal-buttons-list button {
    width: 90px;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
    background-color: #f7a918;
    border-color: #f7a918;
    border-radius: 8px;
}

/* Отключаем всплытие события щелчка на элементах за пределами модального окна */
.modal-list::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: -1; /* Переместите подложку под все остальные элементы */
}

.modal-content-list-empty {
    font-size: 24px;
}

.modal-content-list-container {
    display: flex;
    padding: 10px 0;
    pointer-events: none;
    user-select: none;

    border-bottom: 2px solid #f7a918;
}

.modal-content-list-container-title {
    width: 180px;
    text-align: left;
}

.modal-content-list-container-status {
    width: 80px;
}

.modal-list-sclore-bar {
    max-height: 300px;
    overflow-y: auto;
}