.admin-feedback {
    width: 355px;
    margin: 0 auto;

    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.admin-feedback-menu {
    padding-top: 20px;
    background-color: var(--tg-theme-bg-color);
    position: fixed;
}

.admin-feedback-menu-list {
    padding-top: 80px;
}

.admin-feedback-menu-list-item {
    display: flex;
    background-color: rgba(48, 23, 5, 0.445);
    box-shadow: 0 0 50px rgba(207, 136, 4, 0.164);
    border: 2px solid #f7a918;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 50px;
    cursor: pointer;
    color: var(--tg-theme-text-color);
}

.admin-feedback-menu-list-item:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease
}

.admin-feedback-menu-list-item-title {
    margin-left: 10px;
    align-self: center;
    font-size: 16px;
    width: 120px;
}

.admin-feedback-menu-list-item-date {
    align-self: center;
    font-size: 16px;
    width: 150px;
}

.admin-feedback-menu-list-item-message {
    align-self: center;
    margin-left: auto;
    margin-right: 5px;
}

.admin-feedback-menu-list-item-message img {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.modal-content-message {
    width: 400px;
    padding-bottom: 20px;
}