.feedback-container {
  font-size: 32px;
  /* Увеличение размера текста */
  border: 2px solid #ff0000;
  /* Добавление рамки */
  padding: 10px;
  /* Добавление отступа внутри контейнера */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  /* Добавление тени */
}
