.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback-container__message-textarea__textarea {
  font-size: 22px;
  width: 355px;
  height: 410px;
  resize: none;
  border: 3px solid #BE815F;
  border-radius: 5px;
  background-color: transparent;
  color: var(--tg-theme-text-color);
  margin-bottom: 20px;
}
.feedback-container__title {
  font-size: 28px;
  color: var(--tg-theme-text-color);
  padding: 10px 0;
}
.feedback-container__title-input {
  padding-bottom: 10px;
  width: 360px;
}
