.admin-menu-list-view {
    width: 355px;
    margin: 0 auto;

    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.admin-menu-list-view-list-item-delete {
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
}

.admin-menu-list-view-list-item-delete img {
    width: 25px;
    height: auto;
    cursor: pointer;
}

.admin-menu-list-view-list-item {
    display: flex;
    background-color: rgba(48, 23, 5, 0.445);
    box-shadow: 0 0 50px rgba(207, 136, 4, 0.164);
    border: 2px solid #f7a918;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 320px;
    height: 50px;
    cursor: pointer;
    color: var(--tg-theme-text-color);
}

.admin-menu-list-view-menu {
    padding-top: 20px;
    background-color: var(--tg-theme-bg-color);
    position: fixed;
}

.admin-menu-list-view-list {
    padding-top: 200px;
}

.admin-menu-list-view-list-item:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease
}

.admin-menu-list-view-list-item-name {
    margin-left: 10px;
    align-self: center;
    font-size: 20px;
    width: 70px;
}
